@import './base.css';

#app { 
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.no-todos {
  font-size: 18px;
  padding: 20px;
  text-align: center;
  color: #fff;
}
  
input[type=text]  {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0; 
}

button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.4s;
  margin: 0.5rem 
}

button:hover {
    background-color: #fff;
    color: #000;
}

/* checkbox marker */
input[type=checkbox] {
  
  cursor: pointer;
  height: 20px;
  width: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}

li {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

 